@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
	margin: 0;
	font-family: "Inter", sans-serif;
}

body {
	background-color: #ffbd59;
}

body {
	/* #212121 */

	--toastify-toast-width: 250px;
	--toastify-toast-background: #006aff;
	--toastify-toast-min-height: 64px;
	--toastify-toast-max-height: 800px;
	--toastify-font-family: "Inter", sans-serif;
	--toastify-z-index: 9999;
}
